:root {
  --clr-primary: #1fe9ff;
  --clr-secondary: #040720;
  --shadow: 0px 0px 6px var(--clr-primary);
  --header-height: 125px;
  --section-height: calc(100% - var(--header-height) - 64px)
}
html,
body {
  height: 100vh;
  margin: 0;
}
  

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

body {
  color: white;
  background-color: var(--clr-secondary);
  position: relative;
  font-size: 24px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
}


header, ul {
  display: flex;
}

header {
  height: var(--header-height);
  padding: 32px;
}
nav {
  margin-left: auto;
  margin-right: 0;
}

ul {
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 24px;
}

ul > :nth-child(4) {
  border: 1px solid var(--clr-primary)
}

.item {
  display: flex;
  justify-content: center;
  width: 7rem;
  transition: transform .5s, box-shadow .5s;
  border-radius: 5px;
}

.item:hover {
  transform: scale(1.2);
  box-shadow: var(--shadow)
}
.item a{
  text-align: center;
  width: 100%;
  max-width: 90px;
  padding: 16px;
}
a {
  color: white;
  text-decoration: none ;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 6px var(--clr-primary);
  transform: rotate(45deg);
}

.logo > h1 {
  color: var(--clr-primary);
  transform: rotate(-45deg);
}

.introduction {
  height: var(--section-height);  /*Removes the header dimensions */
  display: flex;
  justify-content: center; 
  align-items: center;
}

.wrapper {
  max-width: 1000px;
}

.wrapper > :nth-child(1) {
  color: var(--clr-primary);
}

.intro-text-name {
  margin: 0;
  font-size: 7rem;
}

.intro-text {
  opacity: .5;
  font-size: 7rem;
}
.intro-desc {
  width: 70ch;
}
.work {
  
  padding:0px 5vw;
  height: 150%;
  min-height: 100%;
}

.contact-icon-text {
  display: flex;
  align-items: center;
}

.phone-icon, .email-icon {
  width: 50px;
  height: 50px;
  margin-inline-end: 24px;
}

.container {
  height: 90%;
  display:  grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  gap: 4rem;
  
  
}

.card {
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  padding: 16px;
  border: 1px solid black
}

.card-title {
  font-size:32px;
  margin-block: 5%;
}
.card-description {
  font-size: 20px;
}
.card-img {
  /* Need to verify this extensively */
  max-height: 25vh; 
}

.icon-container {
  margin-block: auto 0;
  display: flex;
  justify-content: flex-end;
  gap:8px
}

.card-icon {
  cursor: pointer;
  opacity: .6;
  width: 60px;
  height: 60px;
  transition: opacity 1;
}

.card-icon:hover {
  opacity: 1;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  
}

.contact-wrapper {
  display: flex;
  /* height: 80%;
  width: 100%; */
  padding: 0 5vw;
}

.info {
  align-self: center;

  /* padding-inline: 32px; */
  width: 40%;
}

.info > * {
  margin-block: 32px;
}

.contact-logo {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-logo > .logo {
  font-size: 10rem;
  min-width: 400px;
  min-height: 400px;
}
.contact-icons {
  margin-right: 16px;
  width: 50px;
  height: 50px;
}

.phone-icon {
  width: 50px;
  height: 50px;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}



