:root {
  --text: #080607;
  --background: #fbfafb;
  /**Primary colors is for buttons */
  --primary: #957b8a;
  /** For hover*/
  --secondary: #aebdac;
  --secondary30: hsl(113, 11%, 71%, 30%);
  /** Accent colors is for icons */
  --accent: #92a8a3;
}

@font-face {
  font-family: 'CustomFont';
  src: url('./font/Montserrat/static/Montserrat-Regular.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: var(--text);
  background-color: var(--background);
  font-family: 'CustomFont', sans-serif;
 align-items: center;
}

header {
  background-color: var(--background);
  flex: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  position: fixed;
  padding: .5rem 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary);
}

button {
  cursor: pointer;
}

.navbar {
  height: 50px;
  width: auto;
  display: flex;
  gap: .8rem;
}
.navbar h1 {
  display: none;
}

.navbar .close {
  margin-inline: auto 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: inherit;
  display: none;
}

.navbar a {
  text-transform: capitalize;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap:.4rem;
  opacity: 1;
  color: var(--text);
  text-decoration: none;
  transition: opacity .5s;
}

.navbar a:hover {
  opacity: .6;
  background-color: var(--secondary) / 0.7;
}
.navbar a img {
  height: 20px;
  aspect-ratio: 1 /1;
}

.overlay {
  display: none;
}

.hamburger {
  aspect-ratio: 1 / 1;
  border-radius: 50px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  display: none;
}

.hamburger:hover, button.close:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.hamburger img, .navbar button.close img {
  height: 20px;
  aspect-ratio: 1 / 1;
}

.logo {
  cursor: pointer;
  font-weight: bolder;
}

main {
  margin: 8rem 0 0 0;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

#hero {
  padding: 1rem;
  background-color: var(--secondary30);
  display: flex;
  gap: 1rem;
  animation: fade-in 1s forwards;
}

#hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .4rem;
  box-sizing: border-box;
}

#hero div a {
  font-weight: bold;
}

#hero img {
  height: max(250px, 40vw);
  aspect-ratio: 2 / 3;
}

.section-text {
  margin: 0;
  font-size: clamp(1.8rem, 2vw + 1rem, 3rem);
}

.section-subtext {
  opacity: .7;
  margin: 0;
  font-size:  clamp(1.5rem, 1.5vw + 1rem, 2.5rem);
}
.hidden-text {
  position: absolute;
  top: -100px;
  overflow: hidden;
}

button.primary, a.primary {
  color: inherit;
  display: block;
  text-decoration: none;
  font-size: 100%;
  padding: 8px 12px;
  width: fit-content;
  border-radius: .2rem;
  text-transform: uppercase;
  background-color: var(--primary);
  border: none;
}


@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
    height: auto;
    display: none;
    background-color: var(--background);
  }
  
  .navbar[visible] {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    animation: translate-in-right .5s forwards;
  }

  .navbar[closing] {
    animation: translate-out-right .5s forwards;
  }
  .navbar h1 {
    display: block;
  }
  .navbar .close {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .overlay[visible] {
    display: block;
    position: fixed;
    inset:  0 0 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation:  fade-in .5s forwards;
  }

  .overlay[closing] {
    animation: fade-out .5s forwards;
  }
  .hamburger {
    display: block;
  }

  main {
    display: flex;
  }

  #hero {
    align-items: center;
    flex-direction: column;
  }

  #hero div h1 {
    text-align: center;
  }
  #hero div {
    align-items: center;
  }
  
}


@media(max-width: 500px) {
  /* #hero div h1 {
    font-size: 2.5rem;

  }

  #hero div h2 {
    font-size: 1.8rem;
  } */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
  
}
@keyframes fade-out {
  from {
    opacity:  1;
  }

  to {
    opacity: 0;
  }
}

@keyframes translate-in-right {
  from {
    left:  100%;
  }

  to {
    left: 50%;
  }
}

@keyframes translate-out-right {
  from {
    left:50%
  }

  to {
    left: 100%;
  }
}



